<div class="container">
    <div class="form-container">
        <div class="title">Hesap Olustur</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Emailinizi Giriniz</mat-label>
                <input matInput/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Kullanici Adinizi Giriniz</mat-label>
                <input matInput/>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Şifrenizi Giriniz</mat-label>
                <input type="password" matInput/>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Kaydol
            </button>
            <p>Veya</p>
            <button mat-button routerLink="/login" >Giris Yap</button>
        </div>
    </div>
  </div>
  
  